server:
  port: 8888
  shutdown: graceful

spring:
  application:
    name: pet-care-gateway
  # Redis 配置
  data:
    redis:
      host: localhost
      port: 6379
      password: "!QAZ2wsx"
      database: 0
      timeout: 3000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
  cloud:
    gateway:
      httpclient:
        connect-timeout: 45000
        response-timeout: 300s
      # 全局 CORS 配置
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: auth-default-route
          uri: ${CORE_SERVICE_URL:http://localhost:8080}
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
          order: 0
        - id: ws-route
          uri: ${WS_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/ws/**
          filters:
            - name: JwtAuth
          order: 0
        - id: core-route
          uri: ${CORE_SERVICE_URL:http://localhost:8080}
          predicates:
            - Path=/api/user/**,/api/pet/**,/api/reminder/**
          filters:
            - StripPrefix=1
            - name: JwtAuth
          order: 0
        - id: ai-sse-route
          uri: ${AI_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/ai/chat/**
          filters:
            - StripPrefix=1
            - name: JwtAuth
            - name: Sse
          order: 0
        - id: ai-route
          uri: ${AI_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/ai/document/**
          filters:
            - StripPrefix=1
            - name: JwtAuth
          order: 0
        - id: club-route
          uri: ${AI_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/activity/**, /api/post/**, /api/tag/**,
          filters:
            - StripPrefix=1
            - name: JwtAuth
          order: 0
# JWT配置
jwt:
  enabled: true
  secret-key: "M9Ttt6uwxsaq6PMmFBNQekNWjaFXy+WJSQVQB5IOzdQ="
  expire-time: 86400
  refresh-expire-time: 604800

# 暴露网关的 actuator 端点
management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus

# 日志配置
logging:
  level:
    pvt.mktech.petcare.gateway: INFO
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"
